.footer-container {
    background: $darkblue;
    padding-top: 40px;
    padding-bottom: 38px;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @include media-breakpoint-up(md) {     
            flex-direction: row;  
        }

        .footer {
            .footer-mbl-text {
                color: $white;
                text-align: center;
                font-size: 18px;
                font-weight: $font400;
                line-height: 24.51px;
                margin-bottom: 0;
                margin-top: 10px;

                @include media-breakpoint-up(md) {     
                    margin-top: 0; 
                }
                
            }

            .footer-mail-text {
                color: $white;
                text-align: center;
                font-size: 18px;
                font-weight: $font400;
                line-height: 24.51px;
                margin-top: 10px;
                margin-bottom: 0;
            }

            .social-icons {
                display: flex;
                padding: 0;
                margin-top: 20px;

                @include media-breakpoint-up(md) {     
                    margin-top: 0;  
                }
                
                .social-icons-list {
                    list-style-type: none;
                    margin-left: 20px;

                    &:first-child {
                        margin-left: 0;
                    }

                    .social-anker {
                        text-decoration: none;

                        .footer-icon {
                            width: 40px;
                            height: 40px;
                            background: $white;
                            border-radius: 50px;
                            display: grid;
                            place-items: center;
                            color: $black;

                            &:hover {
                                background: $primary;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}
